.menu-nav {
  display: flex;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  justify-content: space-between;
  width: 75px;
}

.logo-img {
  height: 50px;
}

.search-field {
  display: flex;
  height: 50px;
}

.search-input {
  width: 400px;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  text-align: center;
  color: gray;
}

.search-select-field {
  border: 1px solid #D6D9DC;
  border-radius: 3px;
}

.logo-text {
  color: gray;
  font-size: 30px;
  margin-top: 7px;
}

.login-div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-text {
  margin-left: 10px;
  color: gray;
  text-decoration: none;
}
