* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px 20px;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  justify-content: space-between;
  width: 75px;
}

.logo-img {
  height: 50px;
}

.search-field {
  display: flex;
  height: 50px;
}

.search-input {
  width: 400px;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  text-align: center;
  color: gray;
}

.search-select-field {
  border: 1px solid #D6D9DC;
  border-radius: 3px;
}

.logo-text {
  color: gray;
  font-size: 30px;
  margin-top: 7px;
}

.login-div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-text {
  margin-left: 10px;
  color: gray;
  text-decoration: none;
}

.login-page {
  background-color: gainsboro;
  height: 600px;
  display: flex;
  justify-content: center;
}

.login-menu {
  margin-top: 200px;
  background: white;
  height: 300px;
  width: 300px;
  flex-direction: column;
  display: flex;
  border: 3px solid #D6D9DC;
  border-radius: 10px;
}

.login-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-input-field {
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  text-align: center;
  color: gray;
  font-size: 19px;
}

.login-subbmit {
  background-color: mediumseagreen;
  width: 200px;
  height: 50px;
  color: white;
  font-size: 19px;
}
